@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(192,0,3);
background: linear-gradient(90deg, rgba(192,0,3,1) 5%, rgba(125,0,7,1) 20%, rgba(82,0,10,1) 40%, rgba(82,0,10,1) 50%, rgba(82,0,10,1) 60%, rgba(125,0,7,1) 80%, rgba(192,0,3,1) 100%, rgba(125,0,7,1) 100%);
}

:root{
   --vermelho:#7D0007;
}
/* inicio */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, );
    
}
.onda{
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0px;
    background-image: url(onda.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(180deg);
    
}

.papai{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 220px;
    height: 220px;
    margin: auto;
}
.pnatal{
   
    z-index: 4;
    position: absolute;
    left: 44%;
    background-color:#B4443C ;
    color: white;
    font-weight: bolder;
    height: 25px;
    width: 70px;
}
/* redes */

.redes{    
     display: flex; 
    align-content: space-around;
    border-top: 1px  solid white ;
    border-bottom: 1px  solid white ;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 15px;
    }
.zapdiv{
    margin: auto;
   
}
.zap{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: auto;
}
.insta{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: auto;
}
.zap:hover{
    transition: ease-out 0.5s;
    margin-top: -5px;
}
.instadiv{
    margin: auto;
    
}
.insta:hover{
    transition: ease-out 0.5s;
    margin-top: -5px;
}
/* 
section das divs kkk
*/


.section2{
    display: flex;
    flex-direction: column;
    position: absolute;
  left: 50%;
transform: translate(-50%);


}
/* texto inicial */
.titulo{
    margin: auto;
    margin-bottom: 20px;
}
.h1-titulo{
    text-align: center;
    color: #A8F039;
    font-family: "Lilita One", serif;
    font-size: 40px;
}
/* class das divs */
.div-1{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-1 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
    z-index: 2;
}
.pula{
    margin-top: 10px;
    text-align: center;
    
    color: white;
    font-size: 20px;
    z-index: 3;
}
.di1{
    z-index: 4;
    color: white;
   text-align: center;
   
  
}
.agende{
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: bolder;
    background-color: #25D366;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.agende:hover{
    transition: ease-out 0.5s;
    background-color: #198b43;
}


/* div 2 */
.div-2{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-2 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}
.piscina{
    margin-top: 10px;
    text-align: center;
    
    color: white;
    font-size: 20px;
    z-index: 7;
}
.di1{
    z-index: 8;
    color: white;
   text-align: center;
   
  
}
.agende{
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: bolder;
    background-color: #25D366;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    z-index: 9;
}
.agende:hover{
    transition: ease-out 0.5s;
    background-color: #198b43;
}

/* div 3 */
.div-3{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-3 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}

/* div4 */
.div-4{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-4 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}

/* div 5 */
.div-5{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.seciton-img{
    display: flex;
    flex-direction: column;
}
 .pula5{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 100px; 
    border-radius: 10px 0px 0px 0px;
 }
 .piscina5{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 100px; 
    border-radius: 0px 0px 0px 10px;
 }

/* div6 */
.div-6{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.seciton-img{
    display: flex;
    flex-direction: column;
}
 .algodao5{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 100px; 
    border-radius: 10px 0px 0px 0px;
 }
 .pipoca5{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 100px; 
    border-radius: 0px 0px 0px 10px;
 }


.fixo{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 85%;
    left: 87%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
.fixo:hover{
    transition: ease-out 0.3s;
    height: 70px;
    width: 70px;
}