@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(82,0,10);
background: linear-gradient(90deg, rgba(82,0,10,1) 53%, rgba(125,0,7,1) 83%);
}

:root{
   --vermelho:#7D0007;
}
/* inicio */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.527);
}
.papai{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 200px;
    margin: auto;
}
/* redes */

.redes{    
     display: flex; 
    align-content: space-around;
    border: 1px solid black ;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 15px;
    }
.zap{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: auto;
}
.insta{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: auto;
}
.zap:hover{
    transition: ease-out 0.5s;
    margin-top: -5px;
}
.insta:hover{
    transition: ease-out 0.5s;
    margin-top: -5px;
}
/* 
section das divs kkk
*/


.section2{
    display: flex;
    flex-direction: column;
    position: absolute;
  left: 50%;
transform: translate(-50%);


}

/* class das divs */
.div-1{
    background-color: #210049;
    width: 300px;
    height: 200px;
   
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-1 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
    z-index: 2;
}
.pula{
    text-align: center;
    
    color: white;
    font-size: 20px;
    z-index: 3;
}
.di1{
    z-index: 4;
    color: white;
    text-align: end;
    align-items: flex-end;
  
}

/* div 2 */
.div-2{
    background-color: #210049;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-2 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}


/* div 3 */
.div-3{
    background-color: #210049;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-3 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}

/* div4 */
.div-4{
    background-color: #210049;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-4 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}

/* div 5 */
.div-5{
    background-color: #210049;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-5 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}

/* div6 */
.div-6{
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: #210049;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.473);
}
.div-6 > img {
    width: 150px;
    height: 200px; 
    border-radius: 10px 0px 0px 10px;
}


.fixo{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 85%;
    left: 87%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
.fixo:hover{
    transition: ease-out 0.3s;
    height: 70px;
    width: 70px;
}